body {
    background-color: black;
    color: white;
    margin: 1%;
    font-family: rubik;
}

.menu {
  background-color: #9b9b9b;
}

.menu a {
  color: white;
  padding: 15%;
  text-decoration: none;
  font-size: 20%;
  display: block;
  text-align: left;

}

.menu a.icon {
  background: grey;
  display: block;
}

.menu a:hover {
  background-color: #ffffff;
  color: grey;
}

.menu li {
  display: inline-block;
  width: 31%;
}

.container {
    padding: 0%;
    margin: 0%;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 100%;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23%, 20%));
    grid-gap: 0.5%;
    padding-inline-start: 0%;
}

.card {
    list-style: none;
    padding: 1%;
    background-color: #f4f4f4;
    color: #222;
    font-size: 32%;
  text-align: center;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0%;
    font-size: 200%;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 0%;
    color: #666;
    font-weight: lighter;
    font-size: 200%;
}

.card-image {
    height: 40%;
}

@keyframes bounce {
    20% {
        transform: translateY(-1%);
    }
    40% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-1%);
    }
    100% {
        transform: translateY(0%);
    }
}
